a,
a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

#layout {
    min-width: auto;
}

.category {
    max-width: 1440px;
    margin: auto;
}

.category .content {
    padding-left: 30px;
    padding-right: 30px;
}

.category .content__img {
    width: 100%;
    height: 170px;
    color: #ffffff;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.category .content__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 48em) {
    .category .content__img {
        height: 250px;
    }
}

@media (min-width: 64em) {
    .category .content__img {
        height: 300px;
    }
}

@media (min-width: 80em) {
    .category .content__img {
        height: 590px;
    }
}

.category .content__txt {
    position: relative;
    padding: 15px 0 0 15px;
    text-align: left;
}

.category .content__txt-1 {
    font-size: 2.2rem;
    font-weight: bold;
}

.category .content__txt-2 {
    font-size: 1rem;
}

.category .content__txt-3 {
    font-size: 3.3rem;
    font-weight: bold;
    margin-top: 5px;
}

.category .content__txt-4 {
    display: none;
}

@media (min-width: 48em) {
    .category .content__txt {
        padding-top: 20px;
        padding-left: 25px;
    }

    .category .content__txt-1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .category .content__txt-2 {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.3rem;
    }

    .category .content__txt-3 {
        font-size: 4.7rem;
        margin-top: 20px;
        line-height: 4.7rem;
    }

    .category .content__txt-4 {
        display: block;
        font-size: 1.2rem;
        margin-top: 15px;
        width: 330px;
    }
}

@media (min-width: 64em) {
    .category .content__txt {
        padding-top: 35px;
        padding-left: 35px;
    }

    .category .content__txt-1 {
        font-size: 3.7rem;
        line-height: 3.7rem;
    }

    .category .content__txt-2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .category .content__txt-3 {
        font-size: 5rem;
        line-height: 5rem;
    }

    .category .content__txt-4 {
        font-size: 1.3rem;
        width: 350px;
    }
}

@media (min-width: 80em) {
    .category .content__txt {
        padding-top: 55px;
        padding-left: 40px;
    }

    .category .content__txt-1 {
        font-size: 7rem;
        line-height: 7rem;
    }

    .category .content__txt-2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .category .content__txt-3 {
        font-size: 11rem;
        line-height: 11rem;
        margin-top: 30px;
    }

    .category .content__txt-4 {
        font-size: 1.5rem;
        width: 380px;
    }
}

.mobileNavRoot .topNavEl {
    padding: 5px;
}

.desktopNavRoot {
    margin: 10px auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.desktopNavRoot ul.urlNavEl {
    padding: 5px;
    margin: auto 10px;
    font-size: 16px;
}

.desktopNavRoot ul.urlNavEl:hover {
    -webkit-box-shadow: 0 2px 0 0 #333333;
    box-shadow: 0 2px 0 0 #333333;
}

.desktopNavRoot ul.urlNavEl:hover > li a {
    font-weight: bold;
}

.desktopNavRoot ul.urlNavEl:hover .subMenuContainer {
    top: 34px !important;
}

.desktopNavRoot ul.urlNavEl:hover .subMenuContainer li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.desktopNavRoot .subMenuContainer {
    background-color: #ffffff;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    min-width: 150px;
}

.desktopNavRoot .subMenuContainer:empty {
    display: none !important;
}

.desktopNavRoot .subMenuContainer li:hover {
    font-weight: bold;
    text-decoration: underline;
}
